{% extends "base.html.twig" %}
{% block body %}

	<div>
	{{ form_start(form) }}
	{{ form_row(form.name) }}
    {{ form_row(form.date1) }}
	{{ form_row(form.date2) }}
	{{ form_row(form.etat) }}
	{{ form_row(form.urgence) }}
	{{ form_row(form.recherche) }}
	{{ form_end(form) }}
	</div>
	<div>
		<label id="nomBillet"></label>
       	<input id="etat" type="text" disabled>
       	<input id="dateTraitement" type="text" disabled>
       	<input id="urgence" type="text" disabled>
       	<input id="type" type="text" disabled>
       	<input id="prequalification" type="text" disabled>
       	<button type="button">Télécharger pièce jointe</button>
       	<textarea disabled> </textarea>
       	<button type="button">Modifier date de résolution</button>
       	<button type="button">Commenter ticket</button>
       	<button type="button">Prévoir intervention</button>
       	<button type="button">Rediriger billet</button>
       	<button type="button">Clore billet</button>
	</div>

    <table class="table">
        <tr>
            <th>Numéro billet</th>
            <th>Etat billet</th>
            <th>Date de traitement prévue</th>
            <th>Urgence</th>
        </tr>
        {% for billet in billets %}
            <tr>
                <td>Billet {{ billet.id }}</td>
                <td>{{ billet.etat.libelle }}</td>
                <td>{{ billet.dateTraitement }}</td>
                <td>{{ billet.urgence.libelleUrgence }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de billets</td>
            </tr>
        {% endfor %}
    </table>

    <table>
    	<tr>
    		<th>Commentaire N°</th>
    		<th>Nom opérateur</th>
    		<th>Commentaire</th>
    	</tr>
		{% if billets != null %}
		{% if billets.commentaires != empty %}
			{% for commentaire in billets.commentaires %}
			<tr>
					<td>Billet {{ commentaire.id }}</td>
					<td>{{ commentaire.nomoperateur }}</td>
					<td>{{ commentaire.commentaire }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">Pas de commentaires</td>
				</tr>
			{% endfor %}
		{% endif %}
		{% endif %}
    </table>
{% endblock %}